@import "tailwindcss";


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}


#root {
    @apply md:p-8 p-6;
    
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    --purple: #7a4787;
    --beige: #FFFBEB;
}

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    /* background-color: #f4f4f4; */
    color: #333;
}

.foto-capa {
    width: 100%;
    height: 40vh;
    background-image: url('/danca.png');
    background-size: auto 80vh;
    background-position: center;
    background-color: #580202;
    background-repeat: no-repeat;
    position: relative;

    &::after {
        @apply w-[6px] md:h-[60px] h-[40px] md:bottom-[-30px] bottom-[-20px];
        content: "";
        background: var(--purple);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.mood-festa {
    @apply md:h-[250px] h-[170px];
    position: relative;
    
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        background-image: url('/plantas-fundo.jpg');
        background-size:200%;
        background-position: top center;
        filter: brightness(0.5);
    }
}

.garden {
    @apply hidden md:block;
    aspect-ratio: 1 / 1;
    background-image: url('/jardim.png');
    background-size: cover;
    background-position: center;
    
}

.spotify {
    @apply mt-[111px] h-[468px] bg-[#e6e6e6] relative flex items-center justify-center mb-[70px];

    &::before {
        content: '';
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: #d9d9d9;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }

    .capa-spotify {
        width: 330px;
        height: 330px;
        background-color: #b8b8b8;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        letter-spacing: 0.4px;
    }
}

.input {
    @apply bg-[#FFFBEB] p-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
    
    &.input-error {
        @apply border border-red-500 focus:ring-red-500;
    }
}

.button {
    @apply text-sm px-4 py-2 bg-black text-white tracking-[0.2px] uppercase cursor-pointer hover:bg-[var(--purple)] transition-colors duration-300;
    font-weight: 600;
}

@media (width < 48rem) {
    .small {
        @apply text-sm flex-1 mr-4;
    }
}


.card {
    @apply bg-[#FFFBEB] flex-1 flex gap-4 items-center pb-4
        flex-col items-stretch;
        
    .button {
        @apply mx-6;
    }
}



.title {
    @apply font-bold tracking-[0.4px] md:text-4xl text-2xl text-center;
}

.extra {
    @apply w-full md:h-[220px] h-[110px];
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    &.extra-1 {
        background-image: url('/extra1.png');
    }

    &.extra-2 {
        background-image: url('/extra2.png');
    }
    
    &.color-bg1 {
        @apply bg-[#580202] md:bg-size-[48px] bg-size-[32px];
        background-image: url('/landing/calendar.svg');
    }

    &.color-bg2 {
        @apply bg-[var(--purple)]  md:bg-size-[48px] bg-size-[32px];
        background-image: url('/landing/giftlist.svg');
    }
}

.bar {
    @apply bg-[#FFFBEB] flex-1 flex md:flex-row flex-col gap-8 py-6 px-8 text-sm;
    
    > div {
        @apply flex-1 flex flex-col md:text-left md:items-start items-center gap-1;
        
        &.hide-sm {
            /* @apply hidden md:flex; */
        }
    }
}

.small-icon {
    @apply h-[22px] w-[22px] mb-4;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.side-card {
    @apply bg-[#FFFBEB] flex-1 flex flex-row items-center text-sm;
    
    > div {
        @apply flex-1;
    }
    
    .link-card {
        @apply flex justify-between md:px-8 px-4 md:py-0 py-2 items-center cursor-pointer
            font-bold hover:text-[var(--purple)] transition-colors duration-300;
    }
}

.square-img {
    @apply hidden md:block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    
    &.bg1 {
        background-image: url('/bg-flower1.png');
    }
    
    &.bg2 {
        background-image: url('/bg-flower2.png');
    }
}

.icon-rounded {
    @apply w-[40px] h-[40px] rounded-full bg-[#FFFBEB] flex items-center justify-center p-4;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.items-list {
    @apply flex gap-6 items-start text-left text-sm;
    
    .subtitle {
        @apply font-bold uppercase;
    }
}



.text-purple {
    color: var(--purple);
}

.border-purple {
    border-color: var(--purple);
}